.nav_gywm {
	background: #ff5555;
}

.nav_twsj, .nav_yyzz, .nav_wzjs, .nav_wlfw, .nav_jypx, .nav_jrwm, .nav_index {
	background: #00cccc;
}

#main_left {
	margin: 16px 12px 16px 2px;
	width: 360px;
	float: left;
}

#main_right {
	display: block;
	width: 550px;
	float: right;
	margin: 16px 2px 16px 12px;
	padding: 0;
}

#main_right p {
	margin: 0;
	font-size: 16px;
	line-height: 35px;
	text-align: justify;
	text-indent: 32px;
}

#wnwl_logo {
	width: 360px;
	height: 360px;
}
