body {
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	font-size: 12px;
	width: 960px;
	margin: 0 auto;
}

#page {
	width: 960px;
	margin: 0 auto;
}

#page_header {
	margin: 10px 2px 2px 0;
	clear: both;
}

#header_logo {
	width: 60px;
	height: 60px;
	float: left;
	margin: 0 10px 0 0;
}

#page_header h1 {
	font-size: 33px;
	line-height: 60px;
	color: #00cccc;
	margin: 0;
}

#page_nav {
	font-size: 18px;
	clear: both;
	height: 32px;
	margin-bottom: 12px;
}

#page_nav ul {
	list-style: none;
	list-style-type: none;
	width: 960px;
	margin: 0;
	padding: 0;
	float: left;
	clear: both;
}

#page_nav ul li {
	float: left;
}

#page_nav ul li a {
	text-decoration: none;
	display: block;
	width: 35px;
	line-height: 35px;
	color: #ffffff;
	width: 116px;
	text-align: center;
	border: 2px solid #ffffff;
	border-radius: 5px;
}

#page_nav ul li a:hover {
	background: #ff5555;
}

#page_footer {
	margin: 0 auto;
	margin-top: 12px;
	text-align: center;
	color: #ffffff;
	background: #00cccc;
	width: 956px;
	height: 36px;
	line-height: 36px;
	border: 2px solid #ffffff;
	border-radius: 5px;
	clear: both;
}

#page_footer a {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

#page_footer a:hover {
	color: #ff8888;
}
